<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/materialize.min.css" />
    <script src="/public/js/materialize.min.js"></script>
    <script src="/public/js/jquery.min.js"></script>
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon" />
    <title>{% block title %}pastebin{% endblock %}</title>
    <style>
      * {
        padding: 0;
        border: 0;
        margin: 0;
      }
      nav-title {
        margin-left: 1.5rem;
        font-size: 1.5rem;
      }
      .container {
        margin-top: 5rem;
      }
      .input-field * {
        user-select: none;
      }
      body {
        height: 100vh;
      }
      @media (prefers-color-scheme: dark) {
        body {
          background-color: #e0e0e0;
        }
      }
    </style>
    {% block header %}{% endblock %}
  </head>
  <body>
    <nav>
      <nav-title>
        <a href="/">pastebin</a>
      </nav-title>
    </nav>
    <div class="container">
      {% block content %}
      <dir>base</dir>
      {% endblock %}
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll("select");
        var instances = M.FormSelect.init(elems, {});
      });
    </script>
  </body>
</html>
