{% extends "layout.html" %} {% block header %}
<script src="/public/js/clipboard.min.js"></script>
<style>
  @import url("/theme/base16-ocean.light.css") (prefers-color-scheme: light);
  @import url("/theme/base16-eighties.dark.css") (prefers-color-scheme: dark);
  .code {
    overflow-y: scroll;
    padding: 1rem 0.5rem;
  }
</style>
{% endblock %} {% block content %}
<h4>Paste from {{ poster }}</h4>
<h5 class="grey-text text-darken-2"><span id="time"></span></h5>
<div class="row">
  <div class="col s12">
    <span class="grey-text text-darken-1">Syntax highlighting: </span>
    <span class="black-text">{{ lang }}</span>
  </div>
</div>
<div class="row">
  <div class="col">
    <button id="copy-btn" data-clipboard-text="{{ plain|escape }}">
      <a class="waves-effect waves-light btn">Copy</a>
    </button>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <pre class="code">{{ html|safe }}</pre>
  </div>
</div>
<script>
  $("#time").text(new Date("{{ time }}"));
  var clipboard = new Clipboard("#copy-btn");
  clipboard.on("success", function (e) {
    M.toast({ html: "Copy Done!" });
    e.clearSelection();
  });

  clipboard.on("error", function (e) {
    M.toast({ html: "Copy Error!" });
  });
</script>
{% endblock %}
